@page "/"
@using System.Security.Claims

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <img src="imediatus-logo.png" Style="height:250px" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2">The best way to access your data securely.</MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">imediatus</MudText>
            <MudText Align="Align.Center" Typo="Typo.h4">Private LLM with GDPR Compliance</MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
                Easily build integrations with our <MudLink Href="https://localhost:7000/swagger/index.html" Target="_blank">API</MudLink>
            </MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
           <div class="mud-typography-align-center">
                <MudButton DropShadow="false" Variant="Variant.Filled" Color="Color.Primary" Href="https://imediatus.atlassian.net/wiki/spaces/IMEDIATUS/overview" Target="_blank" StartIcon="@Icons.Material.Filled.Rocket">Get Started</MudButton>
                <MudButton DropShadow="false" Variant="Variant.Outlined" Style="margin-left:5px" Color="Color.Default" Href="http://imediatus.com/" Target="_blank" StartIcon="@Icons.Material.Filled.OpenInBrowser">Visit our site</MudButton>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
             <MudText Align="Align.Center">Version 1.0</MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudExpansionPanels>
                <MudExpansionPanel Class="mud-table-outlined" Text="Getting Started" MaxHeight="150">
                    In case you are stuck anywhere or have any queries regarding this implementation, I have compiled a Quick Start Guide for you reference.
                    <MudButton Variant="Variant.Text" DropShadow="false" Color="Color.Secondary" Href="https://imediatus.atlassian.net/wiki/spaces/IMEDIATUS/overview" Target="_blank">Read The Guide</MudButton>
                </MudExpansionPanel>
                <MudExpansionPanel Class="mud-table-outlined" Text="Important Links" MaxHeight="500">
                    <MudList T="string">
                        <MudListItem Text="Need help or have suggestions? Open a ticket" Href="https://imediatus.atlassian.net/wiki/spaces/IMEDIATUS/overview" />
                        <MudListItem Text="Quick Start Guide" Href="https://imediatus.atlassian.net/wiki/spaces/IMEDIATUS/overview" />
                    </MudList>
                </MudExpansionPanel>
                <MudExpansionPanel Class="mud-table-outlined" Text="Learning Resources" MaxHeight="1000">
                    Here are few articles that should help you get started with Imediatus.
                    <MudList T="string">
                        <MudListItem Text="What is GDPR, the EU's new data protection law?" Href="https://codewithmukesh.com/blog/getting-started-with-blazor/" />
                        <MudListItem Text="Artificial Intelligence and the GDPR: inevitable nemeses?" Href="https://intapi.sciendo.com/pdf/10.1515/bjes-2020-0022" />
                    </MudList>
                </MudExpansionPanel>
                <MudExpansionPanel Class="mud-table-outlined" Text="User Claims">
                    Application Claims of the currently logged in user
                     <MudList T="string" Dense="true">
                @if (Claims is not null)
                {
                    @foreach (var claim in Claims)
                    {
                        <MudListItem>
                            <MudChip>
                                @claim.Type
                            </MudChip>
                            @claim.Value
                        </MudListItem>
                    }
                }
            </MudList>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
        <MudItem  xs="12" sm="12" md="12">
            <MudAlert Style="margin-top:10px;justify-content:center" Severity="Severity.Info"><MudLink Href="https://github.com/fullstackhero/blazor-wasm-boilerplate">Liked this Boilerplate? Star us on Github!</MudLink></MudAlert>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = default!;

    public IEnumerable<Claim>? Claims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        Claims = authState.User.Claims;
    }
}